# Ignore everything in the wp-content directory by default
wp-content/*

# But DON'T ignore the plugins directory
!wp-content/plugins/
node_modules/
*.zip
.clinerules/byterover-rules.md
.kilocode/rules/byterover-rules.md
.roo/rules/byterover-rules.md
.windsurf/rules/byterover-rules.md
.cursor/rules/byterover-rules.mdc
.kiro/steering/byterover-rules.md
.qoder/rules/byterover-rules.md
.augment/rules/byterover-rules.md